.Dropdown-control {
  padding: 12px 20px 12px 30px !important;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  border-radius: 5px;
  @apply border border-second-230;
  .Dropdown-arrow-wrapper {
    display: flex;
    align-items: center;
  }
  .Dropdown-placeholder {
    @apply text-primary-1 leading-7;
  }
  .Dropdown-arrow-wrapper img {
    transition: transform 0.2s ease-in;
  }
}
.is-open .Dropdown-arrow-wrapper img {
  transform: rotate(180deg) !important;
}
.Dropdown-menu {
  max-height: 350px;
  @apply shadow-none rounded-md border border-second-229 mt-2;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(219, 219, 219, 1);
  }
  .Dropdown-option {
    @apply leading-7 text-second-47 border-b border-second-229 last:border-b-0 px-7.5 py-2.5;
    &:hover {
      @apply bg-primary-1.2;
    }
  }
  .is-selected {
    @apply bg-primary-1.2;
  }
}
